<h1 class='transparent-light text-center'>Contact</h1>
<div class='transparent-dark'>
  <div class='col-md-offset-1'>
    <%= render 'shared/hours' %>
    <address>
      <label>Address:</label><br>
      The Night Owl<br>
      330 Welch Road <br>
      Nashville TN, 37211
    </address>
      <label>Owners:</label><br>
      Randy & Millicent Boen<br><br>
      <label>Email:</label><br>
      nightowlnashville@gmail.com<br><br>
      <label>Phone:</label><br>
      (615) 333-2419<br>
  </div>
</div>
