<div class='col-md-12' id='menu-front'>
  <%= image_tag 'menu-front', class: 'img img-responsive' %>
</div>
<div class='col-md-12' id='menu-back'>
<%= image_tag 'menu-back', class: 'img img-responsive' %></div>
