<!-- Collect the nav links, forms, and other content for toggling -->
<div class="navbar-collapse collapse navbar-responsive-collapse">
  <ul class="nav navbar-nav">
    <!-- <li><%= link_to "Dinner Menu", '#'%></li> -->
    <% if user_signed_in? && current_user.admin? %>

    <% end %>
    <li><%= link_to "Menu", static_pages_menu_path %></li>
    <li><%= link_to "Contact", static_pages_contact_path %></li>
    <li><%= link_to 'Events', 'https://www.facebook.com/nightowlnashville/events', target: 'none' %></li>
    <li><%= link_to "Gallery", galleries_path %></li>
    <li><%= link_to "About", static_pages_about_path %></li>
    <% if user_signed_in? && current_user.admin? %>
      <li><%= link_to "Bands", bands_path %></li>
      <li><%= link_to "Calendar", events_path%></li>
    <% end %>
    <!-- <li><%= link_to "Specials", '#' %></li> -->
  </ul>
</div><!-- /.navbar-collapse -->
