  <%= form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
<div class="form-group">
  <%= f.label :confirmed, :class => 'control-label col-md-2'%>
    <div class="col-md-9">
      <%= check_box_tag :confirmed, class: 'text_field form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :band_id, :class => 'control-label col-md-2'%>
    <div class="col-md-9">
      <%= select_tag :band_id, options_from_collection_for_select(@bands, 'id', 'name'), class: "form-control", prompt: 'Select Band' %>
      <%= text_field :new_name, class: 'text_field form-control' %>
  </div>
</div>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-md-2' %>
    <div class="col-md-9">
      <%= f.text_field :title, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-9">
      <%= f.text_area :description, :class => 'text_field form-control' %>
    </div>
  </div>
  <row>
    <div class="form-group">
      <%= f.label :start_time, :class => 'control-label col-md-2' %>
      <div class="col-md-9">
        <div id="startdatetime-from" class="input-append date">
          <%= f.datetime_select :start_time, :class => 'text_field form-control', :id =>'datetimepicker6', :required => true, :default => @date %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :end_time, :class => 'control-label col-md-2' %>
      <div class="col-md-9">
        <%= f.datetime_select :end_time, :class => 'text_field form-control', :id =>'datetimepicker7' %>
      </div>
    </div>
  </row>
  <div class="form-group">
    <div class='col-md-offset-2 col-md-9'>
      <%= f.submit nil, :id => 'submit', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  events_path, :class => 'btn btn-default', :"data-no-turbolink" => true %>
    </div>
  </div>
<% end %>
