<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %>: <%=@event.band.name + ' ' + @event.start_time.strftime('%m/%d/%Y')%></h1>
</div>
<%= render :partial => 'form' %>
