
<%- model_class = Event -%>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to edit_event_path(@event), :class => 'btn btn-warning btn-xs pull-right', :title => "#{ t('.edit', :default => t('helpers.links.edit')) }" do %>
    <%= glyph 'pencil' %>
  <% end %>
  <%= link_to event_path(@event), :class => 'btn btn-danger btn-xs pull-right', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }", :method => 'delete', :data => { :confirm => t('.confirm', :default => t('helpers.links.confirm', :default => 'Are you sure?'))} do %>
    <%= glyph 'trash' %>
  <% end %>
<% end %>
<div class="page-header">
  <h1 id='event-headline' class='text-center'><%= @event.start_time.strftime("%m/%d/%Y") + " @ The Night Owl " + @event.start_time.strftime("%I:%M%p") %>
    <% if @event.end_time? %>
      <%= " - " + @event.end_time.strftime("%I:%M%p") %>
    <% end %>
    <%= link_to events_path, :class => 'btn btn-default btn-xs pull-left', :title => "#{ t('.back', :default => t('helpers.links.back')) }" do %>
      <%= glyph 'arrow-left' %>
    <% end %>
  </h1>
</div>
<div class='row'>
  <h1 class="prettyprint text-center transparent-light"><%= @event.title %></h1>
  <% if @event.description? %>
    <p class='transparent-light'>
      <%= @event.description %>
    </p>
    <% end %>
</div>
<div class='row'>
  <div class='row header transparent-light'>
      <% if @event.band.avatar? %>
        <%= image_tag (@event.band.avatar), class: 'col-xs-4 img img-responsive transparent-dark'  %>
      <% else %>
        <h1><%= link_to @event.band.name, band_path(@event.band_id) %></h1>
      <% end %>
    <p>
    <% if @event.band.hometown %>
      <%= @event.band.hometown + " - "%>
    <% end %>
    <% if @event.band.bio %>
      <%= @event.band.bio %>
      <% end %>
      <div class='clear-fix'></div>
      </p>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <% if @event.band.link2? %>
          <%= link_to 'Website',@event.band.link2 , target: 'none', class:'btn btn-info' %>
        <% end %>
        <% if @event.band.link3? %>
          <%= link_to "Facebook", @event.band.link3, target: 'none', class: 'btn btn-info' %>
        <% end %>
    </div>
  </div>
  <div class='transparent-light'>
    <div class='row'></div>
    <% if @event.band.link %>
      <div class='embed-responsive embed-responsive-16by9'><%= content_tag(:iframe, '', class: 'embed-responsive-item', src: @event.band.link,
                   width: 560, height: 315, frameborder: 0) %></div>
    <% end %>
  </div>
</div>
