<%- model_class = Welcome -%>
<div class='share row'>
  <a href="https://twitter.com/share" class="twitter-share-button col-md-4" data-text="The Night Owl - Nashville's coolest New Boogie Bar and Grill!" data-via="RockinRandallBo" data-count="none" data-hashtags="NigthOwlNashville">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <a href="https://twitter.com/nashnightowl" class="twitter-follow-button" data-show-count="false">Follow @nashnightowl</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <div class="fb-like" data-href="https://www.facebook.com/nightowlnashville" data-layout="button" data-action="like" data-share="true"></div>
  <%= link_to 'https://www.instagram.com/nightowlnashville/', class:'btn btn-default btn-instagram' do %>
    <%= image_tag 'instagram_logo', class:'img img-responsive' %>
  <% end %>
  <%= render 'shared/hours' %>
</div>
<% if user_signed_in? && current_user.admin? %>
  <% @welcomes.order(:role).each do |welcome| %>
    <div id='admin-container'>
      <table bgcolor="#00FF00" class="table hidden">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:role) %></th>
            <th><%= model_class.human_attribute_name(:header) %></th>
            <th><%= model_class.human_attribute_name(:headline) %></th>
            <th><%= model_class.human_attribute_name(:notes) %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= welcome.role %></td>
              <td><%= welcome.title %></td>
              <td><%= welcome.headline %></td>
              <td><%= welcome.notes %></td>
            <td>
              <%= link_to welcome_path(welcome), :class => 'btn btn-xs btn-warning', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
                <%= glyph 'info-sign'%>
              <%- end -%>
              <%= link_to edit_welcome_path(welcome), :class => 'btn btn-xs btn-primary', :title => "#{ t('.edit', :default => t('helpers.links.edit')) }" do %>
                <%= glyph 'pencil' %>
              <%- end -%>
              <%= link_to welcome_path(welcome), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
                <%= glyph 'remove' %>
              <%- end -%>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
<div class="row news-item">
  <% if @main_welcome[0] %>
    <div class="news-header transparent-dark text-center"><h1><%= @main_welcome[0].title %></h1></div>
    <h3 class='transparent-light news-headline text-center accent-border'><%= @main_welcome[0].headline %></h3>
    <p class='transparent-light news-notes'><%= @main_welcome[0].notes %></p>
  <% end %>

  <% @welcomes.each do |welcome| %>
    <% unless (welcome.role == 'main' || welcome.role == 'hidden') %>
      <div class="news-header transparent-dark text-center"></div>
      <% if welcome.title? %>
        <div class="news-header2 transparent-light text-center"><h2><%= welcome.title %></h2></div>
      <% end %>
      <% if welcome.headline? %>
        <h4 class='transparent-light news-headline text-center'><%= welcome.headline %></h4>
      <% end %>
      <% if welcome.notes? %>
      <p class='transparent-light news-notes'><%= welcome.notes.html_safe %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
