<%- model_class = Band -%>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to edit_band_path(@band), :class => 'btn btn-warning btn-xs pull-right', :"data-no-turbolink" => 'true', :title => "#{ t('.edit', :default => t('helpers.links.edit')) }" do %>
    <%= glyph 'pencil' %>
  <% end %>
  <%= link_to band_path(@band), :class => 'btn btn-danger btn-xs pull-right', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }", :method => 'delete', :data => { :confirm => t('.confirm', :default => t('helpers.links.confirm', :default => 'Are you sure?'))} do %>
    <%= glyph 'trash' %>
  <% end %>
<% end %>
<div class="page-header">
  <h1 class='text-center'><%=t '.title', :default => model_class.model_name.human.titleize %>
    <%= link_to bands_path, :class => 'btn btn-default btn-xs pull-left', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
      <%= glyph 'arrow-left' %>
    <% end %>
  </h1>
  <h1 class="text-center transparent-light prettyprint"><% if @band.name %><%= @band.name %><% end%> - <% if @band.hometown %> <%=@band.hometown %><% end %></h1>
  <% if @events.length > 0 %>
  <h4 class='text-center transparent-dark prettyprint'>Live @ the night owl -><%= @event.start_time.strftime('%m/%d/%Y') %></h4>
  <% end %>
<div class='row header transparent-light'>
    <% if @band.avatar? %>
      <%= image_tag (@band.avatar), class: 'col-xs-4 img img-responsive transparent-dark'  %>
    <% end %>
  <p>
  <% if @band.hometown %> <%=@band.hometown %><% end %> -
  <% if @band.bio %> <%=@band.bio %><% end %>

    <div class='clear-fix'></div>
    </p>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <% if @band.link2? %>
        <%= link_to 'Website',@band.link2 , target: 'none', class:'btn btn-info' %>
      <% end %>
      <% if @band.link3? %>
        <%= link_to "Facebook", @band.link3, target: 'none', class: 'btn btn-info' %>
      <% end %>
    </div>
    <div class='embed-responsive embed-responsive-16by9'><%= content_tag(:iframe, '', class: 'embed-responsive-item', src: @band.link, width: 560, height: 315, frameborder: 0) %></div>
  </div>
</div>
