// Place all the styles related to the Welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#click
  display: none
  color: #4D6E75
  background-color: #0D212D

#landing-logo
  -webkit-animation-duration: 3s
  -moz-animation-duration: 13s
  img
    transition: all .2s ease
    vertical-align: middle
  // -vendor-animation-delay: 2s
  // -vendor-animation-iteration-count: infinite
.hours
  margin: 0 20px 0 0
.welcome_notes
  background: grey

.transperent
  background: rgba 255, 255, 255, 0.7

.fb-like, .hours, .btn-instagram
  position: relative
  bottom: 5px

.btn-instagram
  padding: 0 10px 0 10px !important
  width: 100px
.share
  padding-left: 20px
