
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <%= viewport_meta_tag %>
    <title><%= content_for?(:title) ? yield(:title) : "TheNightOwl" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

  </head>

  <body id='static-pages-application-layout'>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'The Night Owl - Nashvile', welcomes_path, :class =>'navbar-brand', :"data-no-turbolink" => true %>
        </div>
        <%= render 'shared/nav_buttons' %>
      </div>
    </nav>
    <div class='spacer'></div>
    <div><%= image_tag('night-owl-logo', id: 'index-logo', class: 'img img-responsive animated slideInUp col-sm-3') %></div>
    <div class='checkbox pull-left hidden'>
      <label>
        <%= check_box_tag 'Mute', id: 'mute', class:'checkbox' %>
      </label>
    </div>
    <%= audio_tag 'horned_owl.wav', id: 'owl-hoot' %>
    <div class="container-fluid">
      <div class="row">
        <div id='yield-width' class="col-sm-7">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->
    </div><!--/container-->

    <h1 class='transparent-light text-center'>Map</h2>
      <div class='transparent-dark'>
        <figure class='col-md-5'>
          <%= image_tag 'NightOwlOutside', class:'img-responsive' %>
        </figure>
        <iframe class='col-md-7 col-sm-12' src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6448.815187963885!2d-86.725884!3d36.083551!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x78cc94765777cb7e!2sThe+Night+Owl!5e0!3m2!1sen!2sus!4v1461791238964" height="460" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class='container-fluid'>
      <div class='lg-spacer'></div>
      <div class='row transparent-light'>
        <footer class='col-md-12'>
          <h3 class='text-center'>
            The Night Owl- 330 Welch Road, Nashville TN 37211 - (615) 333-2419
          </h3>
        </footer>
      </div>
      <%= render 'devise/shared/login_items' %>
    </div> <!-- /container -->
  </body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71572758-1', 'auto');
    ga('send', 'pageview');
  </script>

</html>
